extends layout

block content
    div(id='app')
block scripts
    script(src="javascripts/vendor/handlebars/handlebars.js")
    script(src="javascripts/vendor/ember/ember.js")
    script(src="javascripts/disqus.js")
    script(src="javascripts/templates.js")
    script(src="javascripts/main.js")