<h3>Hi.  I'm Aaron.</h3>
<p>We can go through the formalities first, I suppose.  Occupationally, I'm a programmer.  I specialize in web development, but I end up doing
many different things in the course of my job in San Jose.  Recreationally, I'm a runner and an outdoors kinda guy.  I run marathons, I hike,
I backpack, and I try to enjoy life.</p>
<p>Over the last couple of years, I have been in the process of taking a critical look at my life and figuring out what really matters.  Some of that
is reflected in my blog.  Another large part of that is reflected in my faith (I'm a Christian, if you need to apply a label) and another is reflected in the relationships I desire to cultivate in the people around me.  I value authenticity, humility, and community -- though I don't
claim to be an expert in any of these things.  I'm still growing, still learning, and feel like I have a long way to go in my journey.</p>
<p>You can look me up on <a href="https://twitter.com/sentinel21">Twitter</a>, <a href="https://www.facebook.com/aaron.d.gundel">Facebook</a>, or Skype (aaron.gundel) if you're interested.</p>