
  <header>
    <div class="column">
        <h1>Sentinel<img src="/images/logo.png"></h1>
        <img class="me" src="/images/me.jpg">
    </div>
    <div class="bg-nav">
        <div class="column">
            <nav>
                <ul>
                    <li>{{#link-to 'about'}}About Me{{/link-to}}</li> 
                    <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
                    <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
                    <li>{{#link-to 'photos'}}Photos{{/link-to}}</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="images">
    <div class="column">
        <img class="ocean" src="/images/ocean.jpg">
        <img class="switchback" src="/images/switchback.jpg">
        <img class="mountain" src="/images/mountain.jpg">
        <img class="running" src="/images/running.jpg">
    </div>
</div>
<div class="content">
    <div class="column row"></div>
  {{outlet "loading"}}
  {{outlet}}
</div>

<footer>
    <div class="column"><h6>&copy;2013 Aaron Gundel.  All Rights Reserved.  All views and commentary expressed on this site
        are solely those of Aaron Gundel and do not reflect those of any past, present, or future employers, friends, or enemies.</h6></div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39157912-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>