<div id="resume">
	<h3>Aaron Gundel</h3>
	<h4>Work Experience</h4>
	<ul>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-3"><a href="http://www.sjwater.com">San Jose Water</a></div><div class="col-md-4">2009 - Present</div>
				</div>
			</h5>
			<h6>
				<div class="row">
					<div class="col-md-3">Senior Developer</div><div class="col-md-3">2012 - Present</div>
				</div>
				<div class="row">
					<div class="col-md-3">GIS Developer</div><div class="col-md-3">2009 - 2012</div>
				</div>
			</h6>
			<p>
				<em>
					During my time at SJW, I've worked to improve the employee efficiency when 
					consuming GIS (mapping) and engineering data.  I've operated (built/maintained)
					several application servers (including a GeoServer cluster) and built multiple
					web applications for internal systems.  I've worked with .NET, PHP, JavaScript,
					and several other languages on multiple platforms and operating systems.  I've
					worked with the whole web stack, from database (MySQL, Postgres, Oracle, and SQL Server) 
					to server, to the client, and back again.  
				</em>
			</p>
		</li>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-3"><a href="http://www.vdr.com">The vdR Group</a></div><div class="col-md-4">2007 - 2009</div>
				</div>
			</h5>
			<h6>
				<div class="row">
					<div class="col-md-3">Intern</div><div class="col-md-3">February 2007 - May 2007</div>
				</div>
				<div class="row">
					<div class="col-md-3">Consentra Developer</div><div class="col-md-3">May 2007 - Jan 2008</div>
				</div>
				<div class="row">
					<div class="col-md-3">LiveLink Developer</div><div class="col-md-3">Jan 2008 - Jan 2009</div>
				</div>
			</h6>
			<p>
				<em>
					The vdR Group graciously gave me a start in software development starting with
					an internship in early 2007.  My worked focused on the construction and maintenance
					of a .NET based content management system at first, but I shifted to developing
					extensions for Opentext Livelink.  In this context, I worked on both ends of the
					web stack to ensure a good user experience from end to end.  
				</em>
			</p>
		</li>
	</ul>
	<h4 class="header-spacing">Education</h4>
	<ul>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-3"><a href="http://www.biola.edu/">Biola University</a></div><div class="col-md-3">2004 - 2007</div>
				</div>
			</h5>
			<h6>
				<div class="row">
					<div class="col-md-3">Bachelor of Science</div><div class="col-md-3">Computer Science</div>
				</div>
			</h6>
			<em>I graduated Magna Cum Laude from Biola University in 2007 with a Bachelor of Science in Computer
				Science.  While at Biola, I worked several computer science related jobs at the university, including
			    technical support, subnet administration, and teaching assistant in CS courses. </em>
		</li>
	</ul>
	<h4 class="header-spacing">Skillset</h4>
	<ul>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-3">Front End Development</div>
				</div>
			</h5>
			<em>HTML5, CSS, JavaScript [jQuery, Ember.js, Backbone, Bootstrap, etc.]</em>
		</li>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-4">Server Side Development</div>
				</div>
			</h5>
			<em>.NET [C#, ASP.NET, ASP.NET MVC, WCF], PHP [ExpressionEngine], Node.js [Express.js, Socket.io, Grunt, etc.]</em>
		</li>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-4">Database Wizardry</div>
				</div>
			</h5>
			<em>Oracle, MySQL, PostgreSQL, SqlServer</em>
		</li>
		<li>
			<h5>
				<div class="row">
					<div class="col-md-4">Miscellaneous</div>
				</div>
			</h5>
			<em>Git, SVN, Linux based OSes, OSX, Windows Servers, Windows Desktop Development, and more!</em>
		</li>
	</ul>
	<div>&nbsp;</div>
</div>